<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB대여점_5584426권여진.Properties.Settings.ConnectionString"
            connectionString="TNS_ADMIN=C:\app\Yeojin\product\18.0.0\dbhomeXE\network\admin;USER ID=S5584426;PASSWORD=S5584426;DATA SOURCE=XEPDB1;PERSIST SECURITY INFO=True"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>